body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%
}

h1 {
	font-size: 32px;
	font-family: Palatino,'Palatino Linotype', serif;
	color: #331832;
	text-align: center;
}

h2 {
	font-size: 24px;
	font-family: Palatino,'Palatino Linotype', serif;
	color: #384D48;
	text-align: left;
}

.linkSec {
	font-size: 18px;
	font-family: 'Trebuchet MS',Helvetica, sans-serif;
	color: #384D48;
	text-align: left;
}